{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <h2>Fasilitas Rumah Sakit Sehat Sejahtera</h2>
    <h3>Fasilitas</h3>
    <ul>
      <li>Unit Gawat Darurat 24 jam dengan penanganan kasus darurat jantung dan stroke.</li>
      <li>Ruang operasi modern dengan standar internasional.</li>
      <li>Laboratorium diagnostik lengkap.</li>
      <li>Fasilitas rawat inap nyaman dengan berbagai kelas.</li>
      <li>Klinik rawat jalan dengan layanan konsultasi spesialis.</li>
    </ul>

    <h3>Keunggulan</h3>
    <ul>
      <li>Mengutamakan teknologi medis terkini seperti MRI, CT Scan, dan EKG untuk diagnosa cepat dan akurat.</li>
      <li>Tim dokter spesialis jantung dan saraf berpengalaman lebih dari 10 tahun.</li>
      <li>Program edukasi kesehatan untuk masyarakat seputar pencegahan penyakit jantung dan stroke.</li>
    </ul>

    <h3>Kamar</h3>
    
    <div class="room-grid">  <!-- Gunakan grid untuk mengatur kamar -->
      {% for facility in facilities %}
        <div class="room-card"> <!-- Setiap kamar adalah sebuah card dalam grid -->
          <h4>{{ facility.room_type }}</h4>
          <img src="{{ facility.image.url }}" alt="{{ facility.room_type }}" height="200" width="300"/>
          <ul>
            {% for feature in facility.feature_list %}
              <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
