{% extends 'base.html' %}

{% block content %}
  <!-- Konten Profil Rumah Sakit Sehat Sejahtera disini -->
  <div class="content">
    <h2>
      Profil Rumah Sakit Sehat Sejahtera
    </h2>
    <h3>
      Visi
    </h3>
    <p>
      Menjadi rumah sakit terkemuka dalam layanan kesehatan spesialis jantung dan saraf yang terpercaya dengan berbasis teknologi modern.
    </p>
    <h3>
      Misi
    </h3>
    <p class="shift-right">
      1. Memberikan pelayanan kesehatan berkualitas tinggi yang berpusat pada kebutuhan pasien.<br/>
      2. Mengembangkan teknologi medis terkini untuk mendukung diagnosa dan perawatan.<br/>
      3. Menyediakan tenaga medis dan paramedis profesional serta berpengalaman.<br/>
      4. Membangun lingkungan yang nyaman dan aman bagi pasien dan keluarga.
    </p>
    <h3>
      Layanan Unggulan
    </h3>
    <p>
      1. Spesialis Jantung:
    </p>
    <ul class="shift-right">
      <li>
       Layanan kateterisasi jantung (Cath Lab).
      </li>
      <li>
       Pemeriksaan dan perawatan penyakit jantung koroner.
      </li>
      <li>
       Rehabilitasi jantung pascaoperasi.
      </li>
    </ul>
    <p>
      2. Spesialis Saraf:
    </p>
    <ul class="shift-right">
      <li>
       Diagnosa dan pengobatan stroke.
      </li>
      <li>
       Layanan neurologi komprehensif, termasuk rehabilitasi saraf.
      </li>
      <li>
       Penanganan penyakit neurodegeneratif seperti Parkinson dan Alzheimer.
      </li>
    </ul>
  </div>
  <div class="footer">
    <p>
      “Kesehatan Anda, Prioritas Kami.”
    </p>
    <p>
      Dengan dedikasi selama 10 tahun dalam memberikan layanan kesehatan, Rumah Sakit Sehat Sejahtera terus berkomitmen untuk menjadi pilihan utama dalam layanan spesialis jantung dan saraf.
    </p>
  </div>
{% endblock %}
