{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <h2>Poliklinik Rumah Sakit Sehat Sejahtera</h2>
    
    <h3>Layanan Poliklinik</h3>
    <ul>
      <li>Poliklinik Jantung</li>
      <li>Poliklinik Saraf</li>
      <li>Poliklinik Umum</li>
      <li>Poliklinik Anak</li>
      <li>Poliklinik Gigi</li>
    </ul>

    <h3>Jam Operasional</h3>
    <p>Senin - Jumat: 08:00 - 16:00</p>
    <p>Sabtu: 08:00 - 12:00</p>
    <p>Tutup pada Hari Minggu dan Libur Nasional</p>
  </div>
{% endblock %}
